* {
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: auto;
  border: 1px solid gray;
}

main {
  border: 3px solid gray;
}

h1 {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
}

article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

section {
  background-color: black;
  padding: 10px;
  gap: 10px;
  width: 100%;
}

div {
  display: flex;
}

img {
  border: 1px solid gray;
  padding: 5px;
  height: 200px;
  width: 150px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  background-color: rgb(173, 177, 180);
  border: 2px solid gray;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

ul {
  padding: 7px;
  list-style: none;
  background-color: gray;
}

.link1 {
  background-color: red;
  padding: 10px;
  border: 2px solid rgb(96, 96, 96);
}

.link1 a {
  color: white;
}

.link2 {
  border: 2px solid rgb(96, 96, 96);
}

.link2 a {
  color: red;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
}
